<section
    class="tw-relative tw-z-[10] tw-bg-black tw-bg-[url('/assets/images/menu-background.png')] lg:tw-bg-contain tw-bg-cover tw-bg-no-repeat tw-bg-right tw-relative tw-mt-20">
    <div
        class="tw-bg-[url('/assets/images/decorations/triangle-divider-top.png')] tw-w-full tw-h-[20px] tw-bg-repeat-x tw-absolute tw-top-[-1px] tw-z-20">
    </div>
    <div
        class="tw-relative tw-z-[1] lg:tw-bg-gradient-to-r lg:tw-from-black lg:tw-from-70% lg:tw-to-transparent lg:tw-w-full tw-relative lg:tw-bg-transparent tw-bg-black lg:tw-bg-opacity-100 tw-bg-opacity-50">
        <div class="carousel-cotainer tw-max-w-screen-lg tw-mx-auto tw-relative tw-py-20 lg:tw-px-0 tw-px-4 ">
            <div id="carusel-slides">
                {% for menu in menus %}
                <div class="carousel-slide {% if menu.first %} tw-flex {% else %} tw-hidden {% endif %}tw-text-white">
                    <h2 class="tw-font-bold tw-text-6xl tw-uppercase">{{ menu.title }}</h2>
                    <div class="menu-container tw-my-8 lg:tw-h-[550px]">
                        {% for category in menu.categories %}
                        <h3 class="tw-font-nothing tw-text-4xl tw-py-4">{{ category.title }}</h3>
                        <div class="items-container">
                            {% for item in category.items %}
                            <h4 class="tw-uppercase tw-font-semibold tw-text-xl">{{ item.title }}</h4>
                            <p>{{item.price}} lei</p>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="bullets tw-flex tw-items-center tw-justify-center tw-absolute tw-bottom-10 tw-left-1/2 tw-transform tw--translate-x-1/2"
            id="bullets"></div>
    </div>
    <div
        class="tw-bg-[url('/assets/images/decorations/triangle-divider-top.png')] tw-w-full tw-h-[20px] tw-bg-repeat-x tw-absolute tw-bottom-[-1px] tw-z-20 tw-rotate-180">
    </div>
</section>

<script>
    const slides = document.querySelectorAll(".carousel-slide");
    const bulletsContainer = document.getElementById("bullets");
    let currentIndex = 0;

    function updateCarousel(index) {
        slides.forEach((slide, i) => {
            slide.classList.toggle("tw-hidden", i !== index);
            slide.classList.toggle("tw-block", i === index);
        });
        document.querySelectorAll(".bullet").forEach((bullet, i) => {
            bullet.classList.toggle("active", i === index);
        });
    }

    function createBullets() {
        slides.forEach((_, index) => {
            const bullet = document.createElement("div");
            bullet.classList.add("bullet");
            bullet.addEventListener("click", () => updateCarousel(index));
            bulletsContainer.appendChild(bullet);
        });
    }

    function startCarousel() {
        createBullets();
        updateCarousel(0);
        setInterval(() => {
            currentIndex = (currentIndex + 1) % slides.length;
            updateCarousel(currentIndex);
        }, 8000);
    }

    startCarousel();
</script>